<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home- My Restaurant</title>
    </head>
    <body>
        <header>
            <img src="{% static,'image/logo.png'%}" alt="Restaurant Logo" class="logo"
            <h1> Welcome to my Restaurant</h1>
        </header>
        <main>
            <p> Experience delicious meals preapred with  love and fresh ingredients.</p>
        </main>
        <footer>
            <p>&copy;{{year}} My reataurant. all rights reserved</p>
        </footer>
    </body>
</html>