<!DOCTYPE html>
<html>
    <head>
        <title> Privacy Policy</title>
    </head>
    <body>
        <h1>Privacy Policy</h1>
        <p>
            This Privacy Policy explain how we collect,use and protect your information
            when you use our services
        </p>
        <h2>information we collect</h2>
        <p> we may collect your name, email address, and order details when you use our website</p>

        <h2>Contact Us</h2>
        <p> If you have any questions, please contact us at support</p>

        <a href="/">Back to Home</a>
    </body>
</html>